<hr/>
<div style="float:left;padding:0 10px;">
    the contents of this website is edited by chenyan &copy;2017 under the terms of the
    <a href="/LICENSE.txt">GPL3 License</a>
    <br/>
    <br/> hosted by
    <a target="_blank" href="https://github.com/playlay/io">
        <i class="uk-icon-github"></i> GitHub</a>
    <br/>
    <a target="_blank" href="https://github.com/playlay/io/issues">feedback here</a> or
    <a href="mailto:chenyan@feling.net">mail to me</a>
    <br/>
    <br/>
</div>

<div id="googleThings"></div>
<script>
    var the_gfw = new Image();
    the_gfw.src = "https://www.google.com/images/branding/product/ico/googleg_lodp.ico?t=" + parseInt(new Date().getTime() / 100000);
    setTimeout(
        function () {
            if (!the_gfw.complete || !the_gfw.naturalWidth) {
                the_gfw.src = '' // 没能在2s内请求到谷歌的icon
                return
            }
            $.get("/googleThings.html", function(result){
                $("#googleThings").html(result);
            });
        },
        998
    );
</script>