<script>
$(function() {
    $(window).scroll(function() {
        if ($(window).scrollTop() > 400)
            $('div.go-top').show();
        else
            $('div.go-top').hide();
    });
    $('div.go-top').click(function() {
        $('html, body').animate({scrollTop: 0}, 400);
    });
});
</script>
<div class="go-top">
    <div class="arrow"></div>
    <div class="stick"></div>
</div>


<nav class="uk-navbar">
    <a class="uk-navbar-brand" href="/">io</a>
    <ul class="uk-navbar-nav">
        <li><a href="mailto:chenyan@feling.net?subject=对“{{ page.title }}”页面的意见与建议">feedback</a></li>
        <!-- <li><a href="https://pages.feling.net" target="_blank">笔记</a></li> -->
        <!-- <li><a href="https://pages.feling.net/2015/06/donate.html" target="_blank">donate</a></li> -->
    </ul>

    <div class="uk-navbar-flip">
        <a id="signInButton" class="uk-navbar-brand" onselectstart="return false;" style="display:none;font-size:16px;" onClick="signIn()">
            <i id="signInSpinner" class="uk-icon-spinner uk-icon-spin" style="display:none"></i> <i class="uk-icon-google"> 登录</i>
        </a>
        <ul id="userAvatarAndName" class="uk-navbar-nav" style="display:none;">
            <li class="uk-parent" data-uk-dropdown>
                <div class="uk-navbar-content">
                    <i id="signOutSpinner" class="uk-icon-spinner uk-icon-spin" style="display:none"></i>
                    <img id="userAvatar" style="width:30px;height:30px;border-radius:50%;">
                    <span id="userName" style="font-size:16px;"></span>
                </div>
                <div class="uk-dropdown uk-dropdown-small uk-dropdown-navbar">
                    <ul class="uk-nav uk-nav-navbar">
                        <li><a onClick="signOut()">退出</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <script>
            function signIn() {
                if (typeof googleyolo == "undefined") {
                    UIkit.modal.alert('谷歌一键登录操作失败, 请确认网络环境')
                    return
                }
                signInWithGoogle()
            }
            function signOut() {
                $("#signOutSpinner").show()
                WithFParams.postForm('/login/signOut', {}, () => { })
                    .always(() => {
                        localStorage.removeItem('accessToken')
                        localStorage.removeItem('userAvatar')
                        localStorage.removeItem('userName')
                        $("#signInButton").show()
                        $("#userAvatarAndName").hide()
                        $("#signOutSpinner").hide()
                    })
                if (typeof googleyolo != "undefined") {
                    googleyolo.disableAutoSignIn().then(() => { })
                }
            }
            function loadUserAvatarAndNameFormLocalStorage2ShowInNavBar () {
                if (localStorage.accessToken) {
                    $("#userAvatar").attr("src", localStorage.userAvatar)
                    $("#userName").html(localStorage.userName)
                    $("#userAvatarAndName").show()
                    $("#signInButton").hide()
                } else {
                    $("#userAvatarAndName").hide()
                }
            }
            if (localStorage.accessToken) {
                WithFParams.postForm('/login/getLoginInfo',
                    {
                        accessToken: localStorage.accessToken
                    },
                    (result) => {
                        if (result.success && result.data) {
                            localStorage.userAvatar = result.data.userAvatar
                            localStorage.userName = result.data.userName
                        } else {
                            localStorage.removeItem('accessToken')
                            localStorage.removeItem('userAvatar')
                            localStorage.removeItem('userName')
                            $("#signInButton").show()
                            $("#userAvatarAndName").hide()
                        }
                    }
                ).always(() => {
                    loadUserAvatarAndNameFormLocalStorage2ShowInNavBar()
                })
            } else {
                loadUserAvatarAndNameFormLocalStorage2ShowInNavBar()
            }
        </script>
    </div>
</nav>

<div id="googleThings"></div>
<script src="/js/googleThings.js" async defer></script>

