<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="hostname" content="feling.io" />
<meta name="description" content="{{page.description}}" />
<meta name="keywords" content="feling,{{ page.keywords | join: ',' }}" />
<meta name="robots" content="all" />
<meta name="author" content="feling.io" />
<title>
{% if page.title %}
    {{ page.title }}
{% else %}
    {{ site.title }}
{% endif %}
</title>
<link rel="stylesheet" href="/css/feling.css" media="all">
<link rel="icon" type="image/png" href="/favicon.png">
<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/vue.min.js"></script>
<script src="/js/ajaxWithFelingParams.js"></script>
<script src="/js/uikit.min.js" async></script>
<script src="/js/sticky.min.js" async></script><!-- header 始终显示 -->

