<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="hostname" content="feling.io">
<meta name="description" content="{{page.description}}">
<meta name="keywords" content="{{ page.keywords | join: ',' }}">
<meta name="robots" content="all">
<meta name="author" content="feling.io">
<meta name="baidu_union_verify" content="8a5e99e0b53597b46853870a30f66a0a">
<title>
{% if page.title %}
    {{ page.title }}
{% else %}
    {{ site.title }}
{% endif %}
</title>

<link rel="stylesheet" href="//cdn.feling.io/css/uikit.min.css" media="all">
<style>.uk-grid{margin-left:0}</style>
<link rel="icon" type="image/png" href="//cdn.feling.io/favicon.png">

<script src="//cdn.feling.io/js/jquery-3.3.1.min.js"></script>
<script src="//cdn.feling.io/js/vue.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
<script>
    var WithFParams = {
    apiHost: 'https://api.feling.io',
    postJson: function (path, data, resultHandler) {
        data.accessToken = localStorage.accessToken
        return $.ajax({
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            url: this.apiHost + path,
            data: JSON.stringify(data),
            success: resultHandler,
            dataType: 'json'
        })
    },
    postForm: function (path, data, resultHandler) {
        data.accessToken = localStorage.accessToken
        return $.ajax({
            type: 'POST',
            url: this.apiHost + path,
            data: data,
            success: resultHandler,
            dataType: 'json'
        })
    },
}
</script>
<script src="//cdn.feling.io/js/uikit.min.js" async></script>
<script src="//cdn.feling.io/js/hotkeys.min-3.3.8.js"></script>
