<div class="go-top">
    <div class="arrow"></div>
    <div class="stick"></div>
</div>
<nav id="header" class="uk-navbar">
    <a class="uk-navbar-brand uk-hidden-large" href="#offcanvas" data-uk-offcanvas><i class="uk-navbar-toggle"></i></a>
    <a class="uk-navbar-brand uk-visible-large " href="http://pages.feling.net">feling</a>
    <ul class="uk-navbar-nav uk-visible-large ">
        <li v-bind:class="{'uk-active': current_io === 'json' }">
            <a href="http://feling.io/json/index.html">json</a></li>

        <li v-bind:class="{'uk-active': current_io === 'qr' }">
            <a href="http://feling.io/qr/index.html">qr code</a></li>

        <li v-bind:class="{'uk-active': current_io === 'base64' }">
            <a href="http://feling.io/base64/index.html">base64</a></li>
    </ul>
</nav>

<div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas">
        <li><a href="http://feling.io/json/index.html">json</a></li>
        <li><a href="http://feling.io/qr/index.html">qr code</a></li>
        <li><a href="http://feling.io/base64/index.html">base64</a></li>
        </ul>
    </div>
</div>


<script>
var vm_header = new Vue({
    el: '#header',
    data: {
        current_io: 'json'
    }
})
</script>

