<!DOCTYPE html>
<html lang="zh-CN">

<head>
{% include head.html %}
</head>

<style>
body {
    height: 100%;
    overflow: auto;
}
/*#content-footer{
    height: calc(100% - 40px);
    
} */

#content {
    min-height: calc(100% - 40px);
    padding: 10px 10px 20px 10px;
}

footer {
    margin-top: 5px; 
    height: 100px; 
    background-color: #eee;
}
</style>
<body>
    <header>
        <div id="iiie"></div>
        <script>
            IIIE = new Vue({el:"#iiie"});
        </script>
        <script>
            if (typeof IIIE == 'undefined') {
                alert("该网页不支持您的浏览器版本，推荐使用 chrome 浏览器")
            }
        </script>
        {% include the-gfw.html %}
        {% include header.html %}
        {% include goTop.html %}
    </header>
    <hr style="margin:0">

    <div id="content-footer">
        <div id="content">
            {{content}}         
        </div>
        <footer>
            {% include footer.html %}
        </footer>
    </div>
    {% include baidu_tongji.html %}
</body>

</html>
