<!DOCTYPE html>
<html lang="zh-CN" class="uk-height-1-1">
<head>
{% include head.html %}
</head>

<style>
body {
    height: calc(100% + 50px);
    overflow: visible;
}

#content {
    padding: 10px 10px 0px 10px;
    height: calc(100% - 90px);
    width: 100%;
    overflow: visible;
}

footer {
    margin-top: 10px; 
    height: 50px; 
    background-color: #ccc;
}
</style>
<body>
    <header>
        {% include header.html %}
        {% include goTop.html %}
    </header>
    <hr>

    <div id="content">
        {{content}}
    </div>
    <footer>
        {% include footer.html %}
    </footer>
    {% include baidu_tongji.html %}
</body>

</html>
