<!DOCTYPE html>
<html lang="zh-CN" class="uk-height-1-1">

<head>
{% include head.html %}
</head>

<style>
body {
    height: calc(100% + 105px);/* footer 高度100 + 5px */
}

#content-footer{
    height: calc(100% - 72px);
    overflow: auto;
}

#content {
    padding: 10px 10px 20px 10px;
}

footer {
    margin-top: 20px; 
    height: 100px; 
    background-color: #eee;
}
</style>
<body>
    <header>
        {% include no-ie.html %}
        {% include the-gfw.html %}
        {% include header.html %}
        {% include goTop.html %}
    </header>
    <hr style="margin:0">

    <div id="content-footer">
        <div id="content">
            {{content}}         
        </div>
        <footer>
            {% include footer.html %}
        </footer>
    </div>
    {% include baidu_tongji.html %}
</body>

</html>
