<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
{% include head.html %}
</head>
<body class="uk-height-1-1">
    <script>
        window.top.UIkit.offcanvas.hide([force = false])
        window.top.document.title = window.document.title
        hotkeys('ctrl+b', function(event,handler) {
            if (window.top.$('#offcanvas-nav').is(":visible")) {
                window.top.UIkit.offcanvas.hide()
            } else {
                window.top.UIkit.offcanvas.show('#offcanvas-nav')
            }
        })
        window.top.$("#header-extend")
    </script>
    {% include goTop.html %}
    {{ content }}
    {% include baidu_tongji.html %}
</body>
</html>
