---
title: fredis
layout: default
keywords: [redis]
description: web 版 redis 客户端--fredis，基于 ws2s.js 开发。
---

{% raw %}
<div id="main" class="uk-height-1-1">
    <div class="uk-flex uk-height-1-1">
        <div style="width:24%;margin-right:10px;padding-bottom:50px;" class="uk-height-1-1">
            <button class="uk-button uk-width-1-1" 
                    v-on:click="editOne()">add new connection</button>
            <ul class="uk-list uk-list-line uk-height-1-1" 
                style="overflow:scroll;">
                <li v-for="connection in redisConnections">
                    <span>{{connection.name}}</span>
                    <button class="uk-button" style="float:right;"
                            v-bind:class="{'uk-button-success': openedConnections.includes(connection)}" 
                            v-on:click="connect(connection)">connect</button>
                    <button class="uk-button" style="float:right;"
                            v-on:click="editOne(connection)">edit</button>
                </li>
            </ul>
        </div>
        <div id="terminals" style="width:75%;" class="uk-height-1-1">
            <div tname="edit" class="uk-width-1-1 uk-height-1-1">
                <div class="uk-form uk-width-1-1 uk-height-1-1" 
                     style="padding-top:20px;padding-bottom:10%;padding-left:15%;padding-right:25%;">
                    <div class="uk-form-row">
                        <input class="uk-form-width-large" v-model="form.name" placeholder="name">
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-form-width-large" v-model="form.ws2sServer" placeholder="ws2s server">
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-form-width-large" v-model="form.host" placeholder="host">
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-form-width-large" v-model.number="form.port" type="number" placeholder="port">
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-form-width-large" v-model="form.auth" type="password" placeholder="auth (optional)">
                    </div>
                    <div class="uk-form-row">
                        <button class="uk-button uk-button-danger"
                                style="display:none;width:30%;"
                                v-show="redisConnections.includes(form)" 
                                v-on:click="deleteOne(form)">delete</button>
                        <button class="uk-button uk-button-primary"
                                style="float:right;width:30%;"
                                v-on:click="saveOne(form)">save</button>
                    </div>
                    <div class="uk-alert uk-alert-close" v-show="editHint">{{ editHint }}</div>
                </div>
            </div>
            <div style="display:none" class="uk-width-1-1 uk-height-1-1" v-for="connection in redisConnections" :tname="'fredis_'+connection.name"></div>
        </div>
    </div>
</div>

<script src="https://gitee.com/chenyanclyz/ws2s/raw/master/ws2s-js/ws2s.js"></script>
<script src="https://cdn.rawgit.com/jcubic/jquery.terminal/master/js/jquery.terminal.min.js"></script>
<link href="https://cdn.rawgit.com/jcubic/jquery.terminal/master/css/jquery.terminal.min.css" rel="stylesheet" />

<script>

    var vm = new Vue({
        el: "#main",
        data: {
            redisConnections: [],
            openedConnections: [],
            editingConnection: {},
            editHint: '',
            form: {
                name: '',
                ws2sServer: '',
                host: '',
                port: 6379,
                auth: ''
            }
        },
        mounted: function () {
            if (!localStorage.redis_connections || localStorage.redis_connections === '[]') {
                localStorage.redis_connections = JSON.stringify([{
                    name: '172.17.248.195:6379',
                    ws2sServer: "wss://feling.io/ws2s-server/",
                    host: "172.17.248.195",
                    port: 6379,
                    auth: null
                }, {
                    name: '172.17.248.195:6379(1)',
                    ws2sServer: "wss://feling.io/ws2s-server/",
                    host: "172.17.248.195",
                    port: 6379,
                    auth: ''
                }])
            }
            this.redisConnections = JSON.parse(localStorage.redis_connections)
        },
        methods: {
            connect: function (connection) {
                if (this.openedConnections.includes(connection)) {
                    $('div[tname]').hide()
                    $('div[tname="fredis_' + connection.name + '"]').show()
                    return
                }
                var redis = new WS2S(connection.ws2sServer)
                    .newRedisCient(connection.host, connection.port, connection.auth)
                redis.onReady = () => {
                    var terminal = $('div[tname="fredis_' + connection.name + '"]').terminal(function (command, term) {
                        redis.request(command)
                    }, {
                            exit: false,
                            greetings: 'fredis, powered by ws2s project: https://github.com/playlay/ws2s'
                                + '\n\n'
                                + 'connected to ' + connection.name
                                + '(' + connection.host + ':' + connection.port + ')'
                                + ', you can now exec redis commands.',
                            name: 'fredis_' + connection.name,
                            height: '100%',
                            width: '100%',
                            prompt: '> '
                        })
                    redis.onResponse = (data) => {
                        terminal.echo(String(data))
                    }
                    redis.onError = (error) => {
                        terminal.error(JSON.stringify(error))
                    }
                    this.openedConnections.push(connection)
                    $('div[tname]').hide()
                    $('div[tname="fredis_' + connection.name + '"]').show()
                }
            },
            deleteOne: function (connection) {
                var index = this.redisConnections.indexOf(connection)
                if (index !== -1) {
                    this.redisConnections.splice(index, 1)
                    localStorage.redis_connections = JSON.stringify(this.redisConnections)
                    localStorage.removeItem('fredis_' + connection.name + '_0_interpreters')
                    localStorage.removeItem('fredis_' + connection.name + '_0_commands')
                    this.editOne()
                }
            },
            editOne: function (connection) {
                this.editHint = ''
                if (connection) {
                    this.editingConnection = connection
                    this.form = connection
                } else {
                    this.editingConnection = { name: '', ws2sServer: '', host: '', port: 6379, auth: '' }
                    this.form = { name: '', ws2sServer: '', host: '', port: 6379, auth: '' }
                }
                $('div[tname]').hide()
                $('div[tname="edit"]').show()
            },
            saveOne: function (connection) {
                this.editHint = ''
                if (!connection.host || !connection.ws2sServer) {
                    this.editHint = '信息不完整'
                    return
                }
                if (!connection.name) {
                    connection.name = connection.host + ':' + connection.port
                }
                var index = this.redisConnections.indexOf(this.editingConnection)
                if (index !== -1) {
                    this.redisConnections.splice(index, 1, connection)
                } else {
                    this.redisConnections.push(JSON.parse(JSON.stringify(connection)))
                }
                localStorage.redis_connections = JSON.stringify(this.redisConnections)
                this.editOne()
            },
        }
    })
</script>
{% endraw %}